@import "~bootstrap/scss/bootstrap.scss";

.window{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 300px;
    height: 40;
    border: 1px solid white;
    padding: 10px;
    background: #ffeae9;
}

.home-header{
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    background: #461F00;
    padding: 5px;
    border-style: dotted;
    border-color: #966F33;
}

body{
    background-image:url(https://cdn.hipwallpaper.com/i/77/79/MR5mtd.jpg) ;
}

.Input-wrapper{
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    margin: 0;
}

.Input-wrapper Input{
    border: 0%;
    width: 300px;
    height: 40px;
    padding: 6px;
     border: 1px solid white;
}

p{
    margin: 0;   
}

.window button{
    border-radius: 5%;
    border: 0;
    padding: 2px;
    background-color: white;
    width: 20px;
    height: 30px;

}
.principal h1{
    color: #461F00;
    margin-top: 35px;
    font-style: oblique;;
    font-family: cursive;
    font-size: 75px;
}

.principal h3{
    color: #461F00;
}

.principal{
    text-align: center;
}